* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #3b3b3b;
  color: #d8d8d8;
  min-width: 1125px;
}

.corpo {
  margin-left: 5%;
  margin-right: 5%;
}

.pag {
  margin-top: 125px;
}

td {
  word-wrap: break-word;
}

a {
  font-family: monospace;
  font-size: 18pt;
  line-height: 28px;
  color: #d8d8d8;
  text-decoration: none;
}

.titulo-index {
  text-align: center;
  font-family: monospace;
  padding-top: 15%;
  padding-bottom: 15%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #ff9100;
  font-size: 48pt;
  background-image: url(../images/programação.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.titulo-comp {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}