.partitulo {
  text-align: center;
  font-family: monospace;
  padding-top: 35%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #ff9100;
  font-size: 40pt;
  background-image: url(../images/parceria.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top-button {
  color: #ff9100;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 50pt;
  position: fixed;
  text-align: right;
  padding: 30px 25px 20px 25px;
  margin: 30px;
  bottom: 0;
  right: 0;
}

.navegação{
  padding: 10px;
  text-align: center;
}

.navegação img{
  vertical-align: middle;
  filter: grayscale(100%);
  padding-left: 30px;
  width: 50px;
}

.navegação img:hover{
  filter: grayscale(0%);
}

.parceira1 {
  width: 100%;
  padding: 2%;
  background-color: #3b3b3b;
}

.parceira2 {
  width: 100%;
  padding: 2%;
  background-color: #292929;
}

.logo-par {
  padding: 50px;
}

.par-atalhos1,
.par-atalhos1 a {
  text-align: right;
  margin-right: 20px;
  padding-left: 20px;
  font-size: 40px;
  color: #ff9100;
}

.par-atalhos2,
.par-atalhos2 a {
  margin-right: 20px;
  padding-left: 20px;
  font-size: 40px;
  color: #ff9100;
}

.titulo-parceira1 {
  padding: 30px;
  font-size: 30pt;
  color: #ff9100;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  text-align: right;
}

.titulo-parceira2 {
  padding: 30px;
  font-size: 30pt;
  color: #ff9100;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.resumo-parceira1 p {
  text-align: right;
  line-height: 25pt;
  font-family: monospace;
  font-size: 18pt;
  padding: 30px;
}

.resumo-parceira2 p {
  line-height: 25pt;
  font-family: monospace;
  font-size: 18pt;
  padding: 30px;
}
