.navegacao {
  position: fixed;
  float: right;
  right: 0;
  top: 1;
  padding-right: 15px;
  border-style: ridge;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
}

.div-parcerias {
  padding-top: 3%;
  padding-bottom: 3%;
}

.navegacao ul {
  list-style: none;
}

.navegacao a {
  font-size: 12pt;
}

.partitulo {
  text-align: center;
  font-family: monospace;
  padding-top: 35%;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  color: #ff9100;
  font-size: 48pt;
  background-image: url(../images/parceria.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.parceira1,
.parceira2 {
  width: 100%;
  border: #d8d8d8 solid;
  background-color: #292929;
}

.parceira1 td,
.parceira2 td {
  padding: 5px;
}

.tab-redes td a {
  font-size: 30px;
  color: #ff9100;
}

.resumo-parceira1 {
  font-family: monospace;
  font-size: 12pt;
}

.titulo-parceira1 {
  color: #ff9100;
}

.titulo-parceira2 {
  color: #ff9100;
  text-align: right;
}

.resumo-parceira2 {
  text-align: right;
  font-family: monospace;
  font-size: 12pt;
}

.par-redes {
  font-size: 14pt;
  font-family: monospace;
  color: #ff9100;
}

.tab-redes {
  width: 100%;
}

.tab-redes a {
  font-size: 14pt;
}