.titulo-npi {
  font-size: 40pt;
  font-family: monospace;
  padding: 50px 0px 50px 0px;
  width: 100%;
  text-align: center;
  background: #484848;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.span-npi {
  text-decoration: underline #ff9100;
}

.div-sobre-npi {
  font-size: 25pt;
  padding: 50px 0px 50px 0px;
  font-family: monospace;
}

.titulo-sobre-npi {
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
  background-color: rgb(255, 145, 0, 0.5);
}

.imagem-npi {
  width: 500px;
}

.conteudo-npi {
  font-family: monospace;
  line-height: 33px;
  font-size: 18pt;
}

.descriscao-npi {
  padding: 20px;
}

.div-trabalhos-npi {
  text-align: right;
  font-size: 25pt;
  padding: 50px 0px 50px 0px;
  font-family: monospace;
}

.titulo-trabalhos-npi {
  border-radius: 10px;
  padding: 15px 25px 15px 25px;
  background-color: rgb(255, 145, 0, 0.5);
}

.div-conteudos-trabalhos {
  font-size: 18pt;
  line-height: 35px;
  font-family: monospace;
}

.div-conteudos-trabalhos tr, .div-conteudos-trabalhos td {
  padding: 0px 20px 50px 20px;
}

.titulo-aluno {
  text-decoration: underline #ff9100;
  font-size: 25pt;
  padding: 20px 0px 20px 0px;
}

.titulo-aluno a {
  font-size: 40px;
  margin: 0px 0px 0px 30px;
}

.titulo-aluno a:hover {
  color: #ff9100;
}

.corpo-aluno span {
  text-decoration: underline;
}

.botao-projeto {
  padding: 30px 0px 30px 0px;
  text-align: center;
}

.botao-acessar {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  background-color: rgb(255, 145, 0, 0.5);
}

.botao-acessar:hover {
  background-color: #ff9100;
  color: white;
}

.atendimento-npi {
  width: 180px;
  margin-left: 40px;
  font-size: 30px;
  font-family: monospace;
  border-bottom: 2px solid #ff9100;
}

.dados-do-npi {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  list-style-type: none;
  margin: 20px 0px 40px 0px;
}

.dados-do-npi li {
  padding: 5px;
}

.dados-do-npi li span {
  padding: 10px;
}