*,
::before,
::after {
  box-sizing: border-box;
  line-height: 28px;
}

::-webkit-details-marker {
  display: none;
}

.areaeventos {
  margin-top: 5%;
  margin-bottom: 5%;
}

.tevento {
  color: #d8d8d8;
  width: 100%;
  font-size: 25pt;
  font-family: monospace;
  background-color: #252525;
  border-radius: 0px;
}

.tabtítulo {
  border-bottom: solid #ff9100;
  padding: 25px;
  text-align: center;
}

.tcorpo {
  padding: 10px;
  font-size: 18pt;
}

.tcorpo:hover{
  color: white;
  background-color: #292929;
}

.tresumo {
  padding: 15px 0px 15px 0px;
  width: 100%;
  border-radius: 0px;
  background-color: #252525;
  color: #d8d8d8;
  font-size: 14pt;
  font-family: monospace;
}

.ttitulo {
  padding: 15px 0px 15px 0px;
  position: relative;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
}

.link {
  padding: 0px 10px 0px 0px;
  background-color: black;
  font-size: 10pt;
  text-align: right;
}

.link a:hover{
  color: #ff9100;
}

.linhazinha {
  font-size: 10pt;
}